name: Run bash --loop 5m

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"   # trigger tiap 5 menit (opsional)

permissions:
  contents: read

concurrency:
  group: tesaction-run
  cancel-in-progress: false

jobs:
  run:
    timeout-minutes: 300

    strategy:
      fail-fast: false
      matrix:
        runner:
          - vps-1
          - vps-2
          - vps-3
          - vps-4
          - vps-5
          - vps-6
          - vps-7
          - vps-8
          - vps-9
          - vps-10
          - vps-11
          - vps-12
          - vps-13
          - vps-14
          - vps-15
          - vps-16
          - vps-17
          - vps-18
          - vps-19
          - vps-20

    runs-on:
      - self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug runner
        run: |
          echo "Runner: ${{ matrix.runner }}"
          hostname
          nproc

      - name: Loop run bash 5 minutes
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git clone https://github.com/hujisanda/mamalol.git
          cd mamalol
          chmod u+x bash

          echo "Start infinite loop 5 minutes run"

          while true; do
            echo "=== START $(date) ==="

            ./bash &
            PID=$!

            # Jalan 5 menit
            sleep 120

            echo "Stopping process $PID"
            kill -9 $PID || true

            echo "Cooldown 5 detik"
            sleep 7

            echo "=== RESTART ==="
          done
