name: Run bash --noTest

on:
  workflow_dispatch:
  schedule:
    - cron: "*/1 * * *"

permissions:
  contents: read

concurrency:
  group: tesaction-run
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 1  # 5 jam

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug (optional)
        run: |
          echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE"
          ls -la

      - name: Run bash
        run: |
          chmod u+x ./jasin.sh
          ./jasin.sh
